@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){
.physics-websit {
  background-color: transparent;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  
}
}
.physics-websit .div {
  overflow-x: hidden;
  width: 1920px;
  height: 5502.09px;
  position: relative;
}

.physics-websit .overlap {
  position: absolute;
  width: 1990px;
  height: 3311px;
  top: 0;
  left: 0;
}
html {
  scroll-behavior: smooth;
}

.physics-websit .header {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: transparent;
  background-image: url(./img/header.png);
  background-size: cover;
  background-position: 50% 50%;
}

.physics-websit .overlap-group {
  position: relative;
  width: 1400px;
  height: 1080px;
  top: -1px;
  left: 231px;
}

.physics-websit .div-sc {
  position: absolute;
  width: 1400px;
  height: 1080px;
  top: 0;
  left: 0;
}

.physics-websit .figure {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 160px;
  left: 252px;
  border-radius: 100px;
  overflow: hidden;
}

.physics-websit .img {
  position: absolute;
  width: 99px;
  height: 85px;
  top: 29px;
  left: 18px;
}

.physics-websit .img-wrapper {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 155px;
  left: 808px;
  border-radius: 100px;
  overflow: hidden;
}

.physics-websit .img-2 {
  position: absolute;
  width: 136px;
  height: 136px;
  top: 32px;
  left: 32px;
}

.physics-websit .figure-2 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 378px;
  left: -84px;
  border-radius: 100px;
  overflow: hidden;
}

.physics-websit .img-3 {
  position: absolute;
  width: 187px;
  height: 74px;
  top: 62px;
  left: 6px;
}

.physics-websit .figure-3 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 324px;
  left: 1200px;
  border-radius: 100px;
  overflow: hidden;
}

.physics-websit .img-4 {
  position: absolute;
  width: 135px;
  height: 101px;
  top: 39px;
  left: 47px;
}

.physics-websit .figure-4 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 700px;
  left: 628px;
  border-radius: 100px;
  overflow: hidden;
}

.physics-websit .img-5 {
  position: absolute;
  width: 65px;
  height: 60px;
  top: 71px;
  left: 67px;
}

.physics-websit .link {
  position: absolute;
  width: 169px;
  height: 50px;
  top: 825px;
  left: 395px;
  background-color: #408eaf;
  border-radius: 50px;
  overflow: hidden;
}

.physics-websit .text-wrapper {
  width: 105px;
  height: 19px;
  top: 6px;
  left: 32px;
  font-family: "Dubai", Helvetica;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  white-space: nowrap;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  direction: rtl;

}

.physics-websit .div-wrapper {
  position: absolute;
  width: 169px;
  height: 50px;
  top: 825px;
  left: 892px;
  background-color: #3f8daf;
  border-radius: 50px;
  overflow: hidden;
}

.physics-websit .link-2 {
  position: absolute;
  width: 169px;
  height: 50px;
  top: 918px;
  left: 644px;
  background-color: #408eaf;
  border-radius: 50px;
  overflow: hidden;
}


.physics-websit .heading {
  position: absolute;
  width: 900px;
  height: 80px;
  top: 500px;
  left: 279px;
}

.physics-websit .physics-library {
  position: absolute;
  width: 850px;
  height: 80px;
  top: -1px;
  left: 25px;
  font-family: "Bodoni Moda", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 52px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.physics-websit .span {
  font-weight: 700;
}

.physics-websit .div-buttons-block {
  position: absolute;
  width: 900px;
  height: 80px;
  top: 580px;
  left: 279px;
}

.physics-websit .link-3 {
  position: relative;
  width: 169px;
  height: 50px;
  top: 30px;
  left: 366px;
  border-radius: 50px;
  overflow: hidden;
  background: linear-gradient(180deg, rgb(226, 201, 110) 0%, rgb(177, 137, 48) 96%);
}

.physics-websit .section {
  height: 842px;
  top: 1079px;
  background-color: #11162575;
  background-image: url(./img/section-4.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 1920px;
  left: 0;
}

.physics-websit .div-sc-nhj {
  position: relative;
  width: 1400px;
  height: 682px;
  top: 80px;
  left: 260px;
}

.physics-websit .div-sc-2 {
  position: absolute;
  width: 449px;
  height: 400px;
  top: 76px;
  left: 951px;
}

.physics-websit .heading-2 {
  width: 300px;
  top: -1px;
  left: 200px;
  color: #ffffff;
  position: absolute;
  height: 80px;
  font-family: "Bodoni Moda", Helvetica;
  font-weight: 700;
  font-size: 52px;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.physics-websit .p {
  width: 525px;
  height: 30px;
  top: 199px;
  left: -22px;
  font-family: "Dubai", Helvetica;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  line-height: 30.8px;
  white-space: nowrap;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  direction: rtl;
}

.physics-websit .link-4 {
  position: absolute;
  width: 100px;
  height: 22px;
  top: 376px;
  left: 0;
  font-family: "Dubai", Helvetica;
  font-weight: 400;
  color: #e2c96e;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.physics-websit .link-SVG {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 376px;
  left: 105px;
  object-fit: cover;
}

.physics-websit .overlap-group-wrapper {
  position: absolute;
  width: 896px;
  height: 682px;
  top: 0;
  left: 0;
}

.physics-websit .overlap-group-2 {
  position: relative;
  width: 882px;
  height: 682px;
  left: 8px;
}

.physics-websit .div-sc-3 {
  position: absolute;
  width: 376px;
  height: 522px;
  top: 0;
  left: 260px;
}

.physics-websit .figure-5 {
  position: absolute;
  width: 376px;
  height: 522px;
  top: 0;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
}

.physics-websit .img-6 {
  position: absolute;
  width: 357px;
  height: 357px;
  top: 58px;
  left: 19px;
}

.physics-websit .SVG {
  position: absolute;
  width: 117px;
  height: 104px;
  top: 21px;
  left: -143px;
  object-fit: cover;
}

.physics-websit .figure-6 {
  position: absolute;
  width: 306px;
  height: 202px;
  top: 175px;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
}

.physics-websit .img-7 {
  position: absolute;
  width: 160px;
  height: 114px;
  top: 0;
  left: 146px;
}

.physics-websit .figure-7 {
  position: absolute;
  width: 330px;
  height: 412px;
  top: 126px;
  left: 542px;
  border-radius: 10px;
  overflow: hidden;
  transform: rotate(3deg);
}

.physics-websit .img-8 {
  position: absolute;
  width: 351px;
  height: 415px;
  top: -8px;
  left: -11px;
  transform: rotate(-3deg);
}

.physics-websit .figure-8 {
  position: absolute;
  width: 195px;
  height: 249px;
  top: 433px;
  left: 115px;
  border-radius: 10px;
  overflow: hidden;
}

.physics-websit .img-9 {
  position: absolute;
  width: 138px;
  height: 217px;
  top: 0;
  left: 29px;
}

.physics-websit .section-2 {
  height: 300px;
  top: 1920px;
  background-image: url(/img/section-3.png);
  background-size: cover;
  background-position: 50% 50%;

  position: absolute;
  width: 1920px;
  left: 0;
}

.physics-websit .section-3 {
  height: 1092px;
  top: 2219px;
  background-image: url(/img/stars-rounded.png);
  background-size: contain;
  padding: -100px;
  position: absolute;
  width: 1920px;
  left: 0;
}

.physics-websit .overlap-2 {
  position: absolute;
  width: 1762px;
  height: 474px;
  top: 84px;
  left: 78px;
}

.physics-websit .text-wrapper-3 {
  width: 630px;
  height: 80px;
  top: 0;
  left: 567px;
  font-family: "Dubai";
  font-weight: 700;
  font-size: 52px;
  text-align: center;
  line-height: normal;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  direction: rtl;
}

.physics-websit .div-slick-slider {
  position: absolute;
  width: 1762px;
  height: 412px;
  top: 62px;
  left: 0;
}

.physics-websit .div-slick-list {
  position: relative;
  height: 411px;
  top: 1px;
  overflow: hidden;
}

.physics-websit .div-block-item {
  position: absolute;
  width: 355px;
  height: 260px;
  top: 89px;
  left: -1702px;
  background-color: #ffffff01;
  border-radius: 10px;
  box-shadow: 0px 6px 12px #0d031c26;
}

.physics-websit .div-block-item-2 {
  height: 310px;
  top: 79px;
  left: -1268px;
  box-shadow: 0px 6px 20px #0d031c26;
  position: absolute;
  width: 355px;
  background-color: #ffffff01;
  border-radius: 10px;
}

.physics-websit .div-block-item-3 {
  height: 260px;
  top: 89px;
  left: -832px;
  box-shadow: 0px 6px 12px #0d031c26;
  position: absolute;
  width: 355px;
  background-color: #ffffff01;
  border-radius: 10px;
}

.physics-websit .div-block-item-4 {
  height: 260px;
  top: 89px;
  left: -398px;
  box-shadow: 0px 6px 12px #0d031c26;
  position: absolute;
  width: 355px;
  background-color: #ffffff01;
  border-radius: 10px;
}

.physics-websit .div-block-item-5 {
  height: 260px;
  top: 105px;
  left: 943px;
  box-shadow: 0px 6px 12px #0d031c26;
  position: absolute;
  width: 355px;
  background-color: #ffffff01;
  border-radius: 10px;
}

.physics-websit .div-block-paragraph {
  position: absolute;
  width: 355px;
  height: 123px;
  top: 137px;
  left: 0;
  background-color: #111625;
  border-radius: 0px 0px 10px 10px;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #ffffff33;
}

.physics-websit .text-wrapper-4 {
  width: 345px;
  height: 50px;
  top: 25px;
  left: 10px;
  font-family: "Dubai";
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 30.8px;
  white-space: nowrap;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  direction: rtl;
}

.physics-websit .div-client-wrap {
  position: absolute;
  width: 355px;
  height: 137px;
  top: 0;
  left: 0;
  background-color: #111625d9;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid;
  border-color: #ffffff33;
}

.physics-websit .SVG-2 {
  position: absolute;
  width: 35px;
  height: 36px;
  top: 114px;
  left: 31px;
  object-fit: cover;
}

.physics-websit .figure-9 {
  position: absolute;
  width: 97px;
  height: 97px;
  top: -46px;
  left: 130px;
  background-color: #111625;
  border-radius: 48.5px;
  overflow: hidden;
  border: 1px solid;
  border-color: #ffffff33;
}

.physics-websit .img-10 {
  position: absolute;
  width: 97px;
  height: 97px;
  top: 0;
  left: 0;
}

.physics-websit .heading-3 {
  position: absolute;
  width: 197px;
  height: 37px;
  top: 68px;
  left: 80px;
  font-family: "Dubai";
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.physics-websit .div-block-item-6 {
  height: 260px;
  top: 89px;
  left: 1778px;
  box-shadow: 0px 6px 12px #0d031c26;
  position: absolute;
  width: 355px;
  background-color: #ffffff01;
  border-radius: 10px;
}

.physics-websit .div-block-item-7 {
  height: 310px;
  top: 79px;
  left: 2212px;
  box-shadow: 0px 6px 20px #0d031c26;
  position: absolute;
  width: 355px;
  background-color: #ffffff01;
  border-radius: 10px;
}

.physics-websit .div-block-item-8 {
  height: 260px;
  top: 89px;
  left: 2648px;
  box-shadow: 0px 6px 12px #0d031c26;
  position: absolute;
  width: 355px;
  background-color: #ffffff01;
  border-radius: 10px;
}

.physics-websit .div-block-item-9 {
  height: 260px;
  top: 89px;
  left: 3082px;
  box-shadow: 0px 6px 12px #0d031c26;
  position: absolute;
  width: 355px;
  background-color: #ffffff01;
  border-radius: 10px;
}

.physics-websit .div-block-item-10 {
  height: 260px;
  top: 168px;
  left: 469px;
  box-shadow: 0px 6px 12px #0d031c26;
  position: absolute;
  width: 355px;
  background-color: #ffffff01;
  border-radius: 10px;
}

.physics-websit .div-block-item-11 {
  height: 260px;
  top: 658px;
  left: 1021px;
  box-shadow: 0px 6px 12px #0d031c26;
  position: absolute;
  width: 355px;
  background-color: #ffffff01;
  border-radius: 10px;
}

.physics-websit .div-block-item-12 {
  height: 260px;
  top: 658px;
  left: 547px;
  box-shadow: 0px 6px 12px #00000026;
  position: absolute;
  width: 355px;
  background-color: #00000001;
  border-radius: 10px;
}

.physics-websit .div-WM-GLOBAL {
  position: absolute;
  width: 1500px;
  height: 155px;
  top: 0;
  left: 231px;
}

.physics-websit .div-logocontainer {
  position: absolute;
  width: 135px;
  height: 155px;
  top: 0;
  left: 0;
}

.physics-websit .figure-link-figure {
  position: relative;
  width: 115px;
  height: 115px;
  top: 20px;
  background-image: url(/img/802934b906636122db83cb772f1f4d1c-jpg.png);
  background-size: 100% 100%;
  left: -100px;

}

.physics-websit .div-2 {
  position: absolute;
  width: 1305px;
  height: 62px;
  top: 46px;
  left: 155px;
}

.physics-websit .nav-link {
  position: absolute;
  width: 68px;
  height: 42px;
  top: 10px;
  left: 1023px;
}

.physics-websit .text-wrapper-5 {
  width: 48px;
  height: 22px;
  top: 9px;
  left: 10px;
  font-family: "Dubai", Helvetica;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  line-height: normal;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  direction: rtl;
}

.physics-websit .overlap-group-3 {
  position: absolute;
  width: 174px;
  height: 42px;
  top: 10px;
  left: 1091px;
}

.physics-websit .nav-link-2 {
  width: 97px;
  left: 0;
  position: absolute;
  height: 42px;
  top: 0;
}

.physics-websit .text-wrapper-6 {
  width: 77px;
  height: 22px;
  top: 9px;
  left: 10px;
  font-family: "Dubai", Helvetica;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  line-height: normal;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  direction: rtl;
}

.physics-websit .nav-link-3 {
  width: 87px;
  left: 87px;
  position: absolute;
  height: 42px;
  top: 0;
}

.physics-websit .text-wrapper-7 {
  width: 68px;
  height: 22px;
  top: 9px;
  left: 10px;
  font-family: "Dubai", Helvetica;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  line-height: normal;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  direction: rtl;
}

.physics-websit .link-social-link-SVG {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 24px;
  left: 1295px;
  object-fit: cover;
}

.physics-websit .SVG-3 {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 70px;
  left: 1475px;
  object-fit: cover;
}

.physics-websit .section-4 {
  height: 1245px;
  top: 4676px;
  background-image: url(/img/section-2.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 1920px;
  left: 0;
}

.physics-websit .overlap-3 {
  position: absolute;
  width: 1480px;
  height: 616px;
  top: 77px;
  left: 220px;
}

.physics-websit .dady {
  position: absolute;
  width: 1480px;
  height: 575px;
  top: 41px;
  left: 0;
}

.physics-websit .vid {
  position: absolute;
  width: 401px;
  height: 370px;
  top: 144px;
  left: 313px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 24px #11162526;
}

.physics-websit .heading-4 {
  position: absolute;
  width: 249px;
  height: 37px;
  top: 318px;
  left: 75px;
  font-family: "Bodoni Moda", Helvetica;
  font-weight: 600;
  color: #111625;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.physics-websit .heading-wrapper {
  position: absolute;
  width: 401px;
  height: 370px;
  top: 144px;
  left: 789px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 24px #11162526;
}

.physics-websit .vid-2 {
  position: absolute;
  width: 401px;
  height: 370px;
  top: 612px;
  left: 789px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 24px #11162526;
}

.physics-websit .heading-5 {
  width: 593px;
  top: 0;
  left: 444px;
  color: #111625;
  text-align: center;
  position: absolute;
  height: 80px;
  font-family: "Bodoni Moda", Helvetica;
  font-weight: 700;
  font-size: 52px;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.physics-websit .vid-3 {
  position: absolute;
  width: 401px;
  height: 370px;
  top: 730px;
  left: 533px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 24px #11162526;
}

.physics-websit .overlap-4 {
  position: absolute;
  width: 1923px;
  height: 869px;
  top: 5920px;
  left: -3px;
}

.physics-websit .overlap-wrapper {
  height: 574px;
  top: 0;
  background-color: #1b2b5a52;
  background-image: url(/img/section-1.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 1920px;
  left: 0;
}

.physics-websit .overlap-5 {
  position: relative;
  width: 1184px;
  height: 574px;
  left: 410px;
}

.physics-websit .div-sc-snqll {
  position: absolute;
  width: 1100px;
  height: 414px;
  top: 80px;
  left: 0;
}

.physics-websit .div-sc-4 {
  position: absolute;
  width: 500px;
  height: 285px;
  top: 0;
  left: -61px;
}

.physics-websit .p-sc {
  position: absolute;
  width: 500px;
  height: 185px;
  top: 101px;
  left: -26px;
}

.physics-websit .text-wrapper-8 {
  width: 496px;
  height: 216px;
  top: 22px;
  left: 27px;
  font-family: "Dubai", Helvetica;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 30.8px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  direction: rtl;
}

.physics-websit .text-wrapper-9 {
  position: absolute;
  height: 79px;
  top: 11px;
  left: -90px;
  -webkit-text-stroke: 1px #e5cb4080;
  mix-blend-mode: exclusion;
  font-family: "Bodoni Moda", Helvetica;
  font-weight: 700;
  color: #e4ca40;
  font-size: 52px;
  letter-spacing: 0;
  line-height: normal;
}

.physics-websit .div-sc-wc {
  position: absolute;
  width: 224px;
  height: 24px;
  top: 373px;
  left: 378px;
}

.physics-websit .overlap-group-4 {
  position: relative;
  width: 80px;
  height: 22px;
}

.physics-websit .link-5 {
  position: absolute;
  width: 150px;
  height: 22px;
  top: 0;
  left: 0;
  font-family: "Dubai", Helvetica;
  font-weight: 400;
  color: #b18930;
  font-size: 25px;
  text-align: left;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.physics-websit .vector {
  position: absolute;
  width: 7px;
  height: 12px;
  top: 6px;
  left: 73px;
}

.physics-websit .image {
  position: absolute;
  width: 448px;
  height: 574px;
  top: 0;
  left: 736px;
  object-fit: cover;
}

.physics-websit .footer {
  position: absolute;
  width: 1920px;
  height: 303px;
  top: 566px;
  left: 3px;
  background-color: #111625;
}

.physics-websit .div-WM-GLOBAL-2 {
  position: relative;
  width: 1400px;
  height: 203px;
  top: 50px;
  left: 287px;
}
.physics-websit .Achievements {
  width: 81px;
  height: 22px;
  top: 20px;
  left: 330px;
  font-family: "Dubai", Helvetica;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  direction: rtl;
}

.physics-websit .Future-technology {
  width: 81px;
  height: 22px;
  top: 20px;
  left: 550px;
  font-family: "Dubai", Helvetica;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  direction: rtl;
}

.physics-websit .Enrichment {
  width: 69px;
  height: 22px;
  top: 20px;
  left: 750px;
  font-family: "Dubai", Helvetica;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  direction: rtl;
}

.physics-websit .figure-10 {
  position: absolute;
  width: 115px;
  height: 121px;
  top: 82px;
  left: 0;
}

.physics-websit .img-11 {
  position: absolute;
  width: 115px;
  height: 115px;
  top: 0;
  left: -150px;
}

.physics-websit .text-wrapper-12 {
  position: absolute;
  height: 20px;
  top: 130px;
  left: -5px;
  -webkit-text-stroke: 1px #ffffff80;
  font-family: "Dubai", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2.1px;
  line-height: 20px;
  white-space: nowrap;
}

.physics-websit .link-social-link {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 124px;
  left: 1267px;
}

.physics-websit .link-social-link-2 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 174px;
  left: 1753px;
}

.physics-websit .section-5 {
  height: 1377px;
  top: 3300px;
  background-image: url(/img/section.png);
  background-size: cover;
  background-position: cover;
  position: absolute;
  width: 1920px;
  left: 0;
}

.physics-websit .overlap-6 {
  position: absolute;
  width: 1623px;
  height: 581px;
  top: 80px;
  left: 77px;
}

.physics-websit .div-sc-mcyw {
  position: absolute;
  width: 1480px;
  height: 581px;
  top: 0;
  left: 143px;
}

.physics-websit .div-sc-5 {
  position: absolute;
  width: 623px;
  height: 581px;
  top: 0;
  left: 40px;
}

.physics-websit .heading-6 {
  width: 593px;
  top: 151px;
  left: 119px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  height: 80px;
  font-family: "Bodoni Moda", Helvetica;
  font-weight: 700;
  font-size: 52px;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.physics-websit .SVG-4 {
  position: absolute;
  width: 88px;
  height: 85px;
  top: 481px;
  left: 15px;
}

.physics-websit .figure-11 {
  position: absolute;
  width: 513px;
  height: 300px;
  top: 281px;
  left: 110px;
  border-radius: 10px;
  overflow: hidden;
}

.physics-websit .img-12 {
  position: absolute;
  width: 257px;
  height: 193px;
  top: 69px;
  left: 128px;
}

.physics-websit .figure-wrapper {
  position: absolute;
  width: 300px;
  height: 529px;
  top: 52px;
  left: 693px;
}

.physics-websit .figure-12 {
  position: relative;
  height: 429px;
  top: -1px;
  border-radius: 10px;
  background-image: url(/img/435ecaf88ce1af1a03f349486a26daaf-png.png);
  background-size: 100% 100%;
}

.physics-websit .div-sc-6 {
  position: absolute;
  width: 300px;
  height: 357px;
  top: 224px;
  left: 1023px;
}

.physics-websit .figure-13 {
  position: relative;
  height: 297px;
  top: 3px;
  border-radius: 10px;
  background-image: url(/img/ddf5fcad0a508ffadea03079b30db105-png.png);
  background-size: 100% 100%;
}

.physics-websit .text-wrapper-13 {
  width: 421px;
  height: 94px;
  top: 280px;
  left: 0;
  font-family: "Dubai", Helvetica;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: normal;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  direction: rtl;
}

.physics-websit .div-sc-wrapper {
  position: absolute;
  width: 1480px;
  height: 635px;
  top: 661px;
  left: 220px;
}

.physics-websit .div-sc-7 {
  position: relative;
  width: 1400px;
  height: 605px;
  top: 30px;
  left: 40px;
}

.physics-websit .div-sc-8 {
  position: absolute;
  width: 293px;
  height: 353px;
  top: 0;
  left: 0;
}

.physics-websit .figure-14 {
  position: relative;
  height: 293px;
  top: 3px;
  border-radius: 10px;
  background-image: url(/img/1c4046449b262bb40b6ba913e9fe3e4f-jpg.png);
  background-size: 100% 100%;
}

.physics-websit .div-image {
  position: absolute;
  width: 300px;
  height: 432px;
  top: 0;
  left: 323px;
}

.physics-websit .figure-15 {
  position: relative;
  height: 432px;
  top: 2px;
  border-radius: 10px;
  background-image: url(/img/db8058f02330ac0a321e2892a93ea405-jpg.png);
  background-size: 100% 100%;
}

.physics-websit .div-sc-9 {
  position: absolute;
  width: 300px;
  height: 605px;
  top: 0;
  left: 653px;
}

.physics-websit .div-sc-10 {
  position: absolute;
  width: 300px;
  height: 197px;
  top: 0;
  left: 0;
}

.physics-websit .figure-16 {
  position: relative;
  height: 297px;
  top: -100px;
  border-radius: 10px;
  background-image: url(/img/416d4e5cc8cb225cfb1db764579dd288-jpg.png);
  background-size: 100% 100%;
}

.physics-websit .SVG-5 {
  position: absolute;
  width: 108px;
  height: 102px;
  top: 217px;
  left: 96px;
}

.physics-websit .p-sc-mcyw {
  width: 300px;
  height: 246px;
  top: 359px;
  position: absolute;
  left: 0;
}

.physics-websit .text-wrapper-14 {
  width: 349px;
  height: 215px;
  top: 0;
  left: -14px;
  font-family: "Dubai", Helvetica;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 30.8px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  direction: rtl;
}

.physics-websit .div-sc-11 {
  position: absolute;
  width: 416px;
  height: 324px;
  top: 0;
  left: 983px;
}

.physics-websit .div-sc-12 {
  position: absolute;
  width: 416px;
  height: 263px;
  top: 0;
  left: 0;
}

.physics-websit .figure-17 {
  position: relative;
  height: 283px;
  top: -61px;
  border-radius: 10px;
  background-image: url(/img/90706f29ce8f5736e6c1a0cd4e878b66-jpg.png);
  background-size: 100% 100%;
}

.physics-websit .p-sc-2 {
  width: 416px;
  height: 61px;
  top: 263px;
  position: absolute;
  left: 0;
}

.physics-websit .text-wrapper-15 {
  width: 485px;
  height: 61px;
  top: -1px;
  left: 6px;
  font-family: "Bodoni Moda", Helvetica;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: normal;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  direction: rtl;
}
