.heading-1 {
  position: absolute;
  top: 110px;
  left: calc(50% - 296px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 592.82px;
  height: 80px;
  font-family: DG Jory;
  font-size: 100px;
}
.vid3,
.vid31,
.vid33 {
  position: absolute;
  height: calc(100% - 334.39px);
  top: 116px;
  bottom: 218.39px;
  left: calc(50% - 44px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 0 24px rgba(17, 22, 37, 0.15);
  width: 401px;
}
.vid31,
.vid33 {
  left: calc(50% - 508px);
}
.vid33 {
  left: calc(50% + 420px);
}
.dady,
.dady1 {
  width: 1480px;
  height: 575.39px;
}
.dady1 {
  position: absolute;
  top: 312px;
  left: calc(50% - 740px);
}
.dady {
  top: 190px;
  left: calc(50% - 870px);
}
.dady,
.dady2,
.dady3 {
  position: absolute;
}
.dady3 {
  top: 288px;
  left: calc(50% - 740px);
  width: 1480px;
  height: 575.39px;
}
.dady2 {
  top: 807px;
}
.dady2,
.dady4,
.dady5 {
  left: calc(50% - 870px);
  width: 1480px;
  height: 575.39px;
}
.dady4 {
  position: absolute;
  top: 1383px;
}
.dady5 {
  top: 1671px;
}
.dady5,
.div,
.link {
  position: absolute;
}
.div {
  top: 1px;
  left: calc(50% - 68.5px);
  line-height: 50px;
}
.link {
  width: calc(100% - 1223px);
  top: calc(50% + 230.3px);
  right: 455px;
  left: 768px;
  border-radius: 50px;
  background: linear-gradient(180deg, #e2c96e, #b18930 96%);
  height: 57px;
  overflow: hidden;
}
.dady6,
.dady8 {
  position: absolute;
  top: 287px;
  left: calc(50% - 740px);
  width: 1480px;
  height: 575.39px;
}
.dady6 {
  top: 1959px;
  left: calc(50% - 870px);
  font-size: 20px;
  color: var(--color-white);
  font-family: var(--font-prata);
}
.mm {
  position: relative;
  width: 100%;
  height: 3251px;
  overflow: hidden;
  background-image: url(/التجارب/Screenshot\ 2023-12-20\ at\ 10.30.16\ PM.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 64px;
  color: #111625;
  font-family: var(--font-bodoni-moda);
}
