body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-prata: Prata;
  --font-bodoni-moda: "Bodoni Moda";

  /* Colors */
  --color-white: #fff;

  /* Border radiuses */
  --br-3xs: 10px;
}
